InterfaceTest.UI/Service References/TC_FlightQueryServiceReference/TC_FlightQueryServiceNew.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="TCQueryOneWayFlights">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="flatType" type="tns:TCFlatType" />
            <s:element minOccurs="0" maxOccurs="1" name="queryCondition" type="tns:FlightQueryCondition" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="TCFlatType">
        <s:restriction base="s:string">
          <s:enumeration value="None" />
          <s:enumeration value="B2C_HasK" />
          <s:enumeration value="B2C" />
          <s:enumeration value="Cache" />
          <s:enumeration value="AVCache" />
          <s:enumeration value="B2C_CallCenter" />
          <s:enumeration value="RPKuXun" />
          <s:enumeration value="TTS_API" />
          <s:enumeration value="NET" />
          <s:enumeration value="COM" />
          <s:enumeration value="TCAPI" />
          <s:enumeration value="ALaDing" />
          <s:enumeration value="VIP_AliPay" />
          <s:enumeration value="Alliance_API" />
          <s:enumeration value="RPQuery" />
          <s:enumeration value="Baidu" />
          <s:enumeration value="QQ" />
          <s:enumeration value="HWQuery" />
          <s:enumeration value="TH61" />
          <s:enumeration value="YoSou" />
          <s:enumeration value="B2C_HasKDouble" />
          <s:enumeration value="B2C_HasKTransit" />
          <s:enumeration value="B2C_Cooperation" />
          <s:enumeration value="B2C_FlightCar" />
          <s:enumeration value="B2C_HasKDiffTransit" />
          <s:enumeration value="B2C_FlightPackage" />
          <s:enumeration value="B2C_CustomerPrice" />
          <s:enumeration value="B2C_FlightTrain" />
          <s:enumeration value="B2C_FlightCarCache" />
          <s:enumeration value="B2C_HasKDiffTransitCache" />
          <s:enumeration value="B2C_FlightPackageCache" />
          <s:enumeration value="B2C_CustomerPriceCache" />
          <s:enumeration value="B2C_FlightTrainCache" />
          <s:enumeration value="B2C_HasKTransitCache" />
          <s:enumeration value="B2C_HaskDoubleBack" />
          <s:enumeration value="TB_API" />
          <s:enumeration value="B2C_FlightSelfPack" />
          <s:enumeration value="ZiZhuYou" />
          <s:enumeration value="QQFlight" />
          <s:enumeration value="WeiXin" />
          <s:enumeration value="TouchTouFang" />
          <s:enumeration value="PlaceSite" />
          <s:enumeration value="TouchQQ" />
          <s:enumeration value="ChangXianYou" />
          <s:enumeration value="Train" />
          <s:enumeration value="GuoChang" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="FlightQueryCondition">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ConKEY" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VipProductIds" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserIP" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SubChannel" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="QuerySegmentType" type="tns:FlightSegmentType" />
          <s:element minOccurs="1" maxOccurs="1" name="TakeoffBegDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="TakeoffEndDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="OrgAirportCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ArrivalAirportCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TranAirPortCode" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="QueryType" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="MerchantId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="PolicyId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OrgAirportFilter" type="tns:ArrayOfString" />
          <s:element minOccurs="0" maxOccurs="1" name="DesAirportFilter" type="tns:ArrayOfString" />
          <s:element minOccurs="0" maxOccurs="1" name="QueryAirCompanyCodes" type="tns:ArrayOfString" />
          <s:element minOccurs="0" maxOccurs="1" name="QueryEngineRoomCodes" type="tns:ArrayOfString" />
          <s:element minOccurs="0" maxOccurs="1" name="QueryFlightNOs" type="tns:ArrayOfString" />
          <s:element minOccurs="0" maxOccurs="1" name="SortCondition" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Alliance_API_GetYValue" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Ischeckuncabincode" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="IsNeedYVaule" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="IsUseFDCache" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="IsUseSwitch" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SysPrice" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="AVInfo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PolicyPriceType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FQuerykey" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GoflightGUId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GoFlightNO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GoFlightCabinCode" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="GoflightTakeoffTime" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="GoFlightType" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FProductID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="FlatSubType" type="tns:TCFlatSubType" />
          <s:element minOccurs="1" maxOccurs="1" name="FqdLoginKey" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="FqdMark" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="FqdQueryId" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FzQuery" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="QueryChannelRefid" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CnSubChannel" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="HotelCheckInDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="HotelCheckOutDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="GwChangeParams" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CacheType" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="NoFlightResult" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="LoggerLevel" type="tns:LoggerLevelType" />
          <s:element minOccurs="1" maxOccurs="1" name="Iscache" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="AgreementId" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TicketsLimit" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="FlightSegmentType">
        <s:restriction base="s:string">
          <s:enumeration value="Go" />
          <s:enumeration value="Back" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="TCFlatSubType">
        <s:restriction base="s:string">
          <s:enumeration value="None" />
          <s:enumeration value="Mobile" />
          <s:enumeration value="Touch" />
          <s:enumeration value="ClientIOS" />
          <s:enumeration value="ClientAndroid" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="LoggerLevelType">
        <s:restriction base="s:string">
          <s:enumeration value="NONE" />
          <s:enumeration value="FATAL" />
          <s:enumeration value="ERROR" />
          <s:enumeration value="WARN" />
          <s:enumeration value="INFO" />
          <s:enumeration value="DEBUG" />
          <s:enumeration value="TRACE" />
          <s:enumeration value="ALL" />
        </s:restriction>
      </s:simpleType>
      <s:element name="TCQueryOneWayFlightsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TCQueryOneWayFlightsResult" type="tns:FlightQueryResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="FlightQueryResult">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="CacheNum" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="FitSegmentType" type="tns:FlightSegmentType" />
          <s:element minOccurs="0" maxOccurs="1" name="IBEFlights" type="tns:ArrayOfFlightInfo" />
          <s:element minOccurs="0" maxOccurs="1" name="GroupFlights" type="tns:ArrayOfGroupFlightInfo" />
          <s:element minOccurs="1" maxOccurs="1" name="MerchantNum" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Guid" type="s1:guid" />
          <s:element minOccurs="0" maxOccurs="1" name="WasteTime" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Queryresult" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RecommendFlight" type="tns:ArrayOfRecommendFlight" />
          <s:element minOccurs="0" maxOccurs="1" name="LogContent" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfFlightInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="FlightInfo" nillable="true" type="tns:FlightInfo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="FlightInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="OwnStartDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OwnCompanyInfo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OwnPlaneModel" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Carrier" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SOC" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Sourse" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BoardPoint" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OffPoint" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FlightNO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AirCompanyCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AirCompanyName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FlyOffTime" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="ArrivalTime" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="OriginAirportCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OriginAirportName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OriginAirportShortName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ArriveAirportCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ArriveAirportName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ArriveAirportShortName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EquipmentCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EquipmentName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MeatFlag" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="JourneyTime" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Mileage" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsETicket" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="AirOilTax" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ChildAirOilTax" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="AirPortTax" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="StopNum" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="IsShareFlight" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="MainFlightNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MainAirName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsRecommendEquip" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="RecommendReason" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FlightRate" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="LowestRedPacketMoney" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="EngineRoomColl" type="tns:ArrayOfEngineRoom" />
          <s:element minOccurs="0" maxOccurs="1" name="TcFlat" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FR" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsBookSelfHelpFly" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="InnerHTMLinfo" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsRecommendFlight" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfEngineRoom">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="EngineRoom" nillable="true" type="tns:EngineRoom" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="EngineRoom">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="FSmsTemplate" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="PacketBatchID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GiftBoxId" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FPLIsShowIco" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="FPLSort" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="FpIcon" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="RefundPercent" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SeesawPrice" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="GwProdutType" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="OcrPrice" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="OcrPriceMin" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="PriceLogic" type="s:unsignedByte" />
          <s:element minOccurs="1" maxOccurs="1" name="HotelHouseType" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="HotelHouseDay" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="IsFlightHotel" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="HotelSeesawPrice" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="HotelLowestPrice" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="ProductInfo" type="tns:ProductInfoExtend" />
          <s:element minOccurs="1" maxOccurs="1" name="IsJoinBasePrice" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="CabinMark" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="FProductCostPrice" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="FpreferentialStyle" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="FregulationType" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="FprzjAmount" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="FprzjAmountBylap" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="PRoductType" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="FProductID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="FProductName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FShowName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PolicyScenario" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="BasePrice" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ProudctNum" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FCheckType" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="FColor" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FProductCode" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="IsShowCarService" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CarServicePrice" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="IsPackageMode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ServiceFlagDesc" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SongJiProductId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="JieJiProductId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DIS" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="OrgSystemTicketPrice" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Dayrange" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SubPriceType" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ForeProfit" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="ForeMarkUpPrice" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="HouseID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ShapeType" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ShapeKey" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ProductPayLable" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="OriginalPriceBycn" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="ClientNoProfitTicketPrice" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="InsuranceTax" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ProductId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="OriginalBarePrice" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="OriginalChildBarePrice" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="OriginalPolicyId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="YBarePrice" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="ChildYBarePrice" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="YIncreaseType" type="s:unsignedByte" />
          <s:element minOccurs="1" maxOccurs="1" name="YValue" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="ZBarePrice" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="ChildZBarePrice" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="ZIncreaseType" type="s:unsignedByte" />
          <s:element minOccurs="1" maxOccurs="1" name="ZValue" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="FlightAgreementType" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DPManPrice" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DPChildPrice" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DPBabyPrice" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="YRebate" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="ZRebate" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="IsGetBackSubtracting" type="s:unsignedByte" />
          <s:element minOccurs="1" maxOccurs="1" name="FSIKDiscount" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="FSIKPrice" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="RoomType" type="tns:EngineRoomType" />
          <s:element minOccurs="1" maxOccurs="1" name="BaseRoomType" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="RoomPriceType" type="tns:EngineRoomPriceType" />
          <s:element minOccurs="0" maxOccurs="1" name="BelongedFlight" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TicketType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BaseRoomCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RealRoomCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RoomDes" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TicketsNum" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TicketsDes" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DiscountRate" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SystemBaseTicketPrice" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SystemTicketPrice" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SystemTicketPriceTemp" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SysAvShopTicketPrice" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="NKSystemTicketPrice" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SysChildTicketPrice" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SysBabyTicketPrice" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="THTicketPrice" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="THChildTicketPrice" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="THBabyTicketPrice" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="ClientTicketPrice" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="ClientChildPrice" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="ClientBabyPrice" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="RoomRuleId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="AgreementId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="FSPPolicyOutId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PolicyObjectId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OriginalPolicyObjectId" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="THRebate" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="ClientRebate" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="MerchantID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="MerchantShortName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MerchantAvgPoint" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="IsUseTCAgreement" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="RemoteKeapRebate" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="OfficeID" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FeeType" type="tns:ChannelFeePayType" />
          <s:element minOccurs="1" maxOccurs="1" name="BuyPayRebate" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="SalePayRebate" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="KeapPayRebate" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="TCManKeapRebate" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="TCChildKeapRebate" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="TCBabyKeapRebate" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="ProcessType" type="tns:NeedProcessType" />
          <s:element minOccurs="1" maxOccurs="1" name="ProcessTime" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="HaveKPolicy" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="TcPreference" type="tns:TCPreferenceType" />
          <s:element minOccurs="0" maxOccurs="1" name="ACCCabinDesc" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SpareCode" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CanUseCoupon" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="IsSellBabyTiecket" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="InnerHTMLroom" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SearchModel" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SeckillStartTime" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SeckillEndTime" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="NpersonChildType" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="RedPacket" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Grade" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SubGrade" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="IsProductInfo" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="IsBookContent" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="NeedFrequentFlyerInfo" type="s:unsignedByte" />
          <s:element minOccurs="1" maxOccurs="1" name="FzRuleId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="HourLimit" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="GwChangeFee" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="GwDiffPrice" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="GwChildChangeFee" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="GwChildDiffPrice" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="FloatMoney" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="InsuranceBindType" type="s:unsignedByte" />
          <s:element minOccurs="0" maxOccurs="1" name="CtripRefund" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CtripChange" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CtripEndorse" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CtripData" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TicketSpeed" type="s:unsignedByte" />
          <s:element minOccurs="1" maxOccurs="1" name="TicketOutTime" type="s:unsignedByte" />
          <s:element minOccurs="1" maxOccurs="1" name="ProductAttribute" type="s:unsignedByte" />
          <s:element minOccurs="1" maxOccurs="1" name="IsForceShow" type="s:unsignedByte" />
          <s:element minOccurs="1" maxOccurs="1" name="RedPacketMoney" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ProRegMoney" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="MailType" type="s:unsignedByte" />
          <s:element minOccurs="1" maxOccurs="1" name="IsCanDPPrice" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ProductInfoExtend">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ProductCode" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="LabelLocation" type="s:unsignedByte" />
          <s:element minOccurs="0" maxOccurs="1" name="RecommendTitle" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ProductColor" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RenderModule" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="WirelessPC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IsShowPrice" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="EngineRoomType">
        <s:restriction base="s:string">
          <s:enumeration value="UnKnow" />
          <s:enumeration value="CommonRoom" />
          <s:enumeration value="SpecialRoom" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="EngineRoomPriceType">
        <s:restriction base="s:string">
          <s:enumeration value="SystemPrice" />
          <s:enumeration value="CommonPrice" />
          <s:enumeration value="SpecialPrice" />
          <s:enumeration value="TeamPrice" />
          <s:enumeration value="KPrice" />
          <s:enumeration value="KPrice_0" />
          <s:enumeration value="KPrice_1" />
          <s:enumeration value="KPrice_2" />
          <s:enumeration value="KPrice_5" />
          <s:enumeration value="DoubleKprice" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="ChannelFeePayType">
        <s:restriction base="s:string">
          <s:enumeration value="None" />
          <s:enumeration value="Buy" />
          <s:enumeration value="Sell" />
          <s:enumeration value="Both" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="NeedProcessType">
        <s:restriction base="s:string">
          <s:enumeration value="None" />
          <s:enumeration value="NeedCheck" />
          <s:enumeration value="NeedApply" />
          <s:enumeration value="KType" />
          <s:enumeration value="K_0" />
          <s:enumeration value="K_1" />
          <s:enumeration value="K_2" />
          <s:enumeration value="K_5" />
          <s:enumeration value="K_3" />
          <s:enumeration value="K_47" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="TCPreferenceType">
        <s:restriction base="s:string">
          <s:enumeration value="None" />
          <s:enumeration value="DirectCUT" />
          <s:enumeration value="OneTicket" />
          <s:enumeration value="TwoTicket" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ArrayOfGroupFlightInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="GroupFlightInfo" nillable="true" type="tns:GroupFlightInfo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="GroupFlightInfo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="MerchantID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="AgreementID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TicketNum" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="LineType" type="tns:GroupFlightLineType" />
          <s:element minOccurs="0" maxOccurs="1" name="AirCompanyCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AirCompanyName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OrgAirportCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OrgAirportShortName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OrgAirportFullName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DesAirportCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DesAirportShortName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DesAirportFullName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FlyOffDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="ArrivalDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="SysManTotalPrice" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SysChildTotalPrice" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SysBabyTotalPrice" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="THRebate" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="THManTotalPrice" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="THChildTotalPrice" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="THBabyTotalPrice" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ClientRebate" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="ClientManTotalPrice" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ClientChildTotalPrice" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ClientBabyTotalPrice" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="AirportAllTax" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="AirOilAllTax" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="IsETicket" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="TGQRule" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Segments" type="tns:ArrayOfGroupFlightSegment" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="GroupFlightLineType">
        <s:restriction base="s:string">
          <s:enumeration value="OneWay" />
          <s:enumeration value="ComeGoWay" />
          <s:enumeration value="UnionWay" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ArrayOfGroupFlightSegment">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="GroupFlightSegment" nillable="true" type="tns:GroupFlightSegment" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="GroupFlightSegment">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="AgreementID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="OrgAirportCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OrgAirportShortName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OrgAirportFullName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DesAirportCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DesAirportShortName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DesAirportFullName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FlightNO" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FlyOff" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Arrival" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="SysManPrice" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="AirportTax" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="AirOilTax" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfRecommendFlight">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="RecommendFlight" nillable="true" type="tns:RecommendFlight" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RecommendFlight">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Start" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StartCity" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StartAirPortShortName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="End" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EndCity" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EndAirPortShortName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Date" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Week" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Price" type="s:decimal" />
        </s:sequence>
      </s:complexType>
      <s:element name="TCQueryOneWayFlightsString">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="flatType" type="tns:TCFlatType" />
            <s:element minOccurs="0" maxOccurs="1" name="queryCondition" type="tns:FlightQueryCondition" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TCQueryOneWayFlightsStringResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TCQueryOneWayFlightsStringResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="TCQueryOneWayFlightsSoapIn">
    <wsdl:part name="parameters" element="tns:TCQueryOneWayFlights" />
  </wsdl:message>
  <wsdl:message name="TCQueryOneWayFlightsSoapOut">
    <wsdl:part name="parameters" element="tns:TCQueryOneWayFlightsResponse" />
  </wsdl:message>
  <wsdl:message name="TCQueryOneWayFlightsStringSoapIn">
    <wsdl:part name="parameters" element="tns:TCQueryOneWayFlightsString" />
  </wsdl:message>
  <wsdl:message name="TCQueryOneWayFlightsStringSoapOut">
    <wsdl:part name="parameters" element="tns:TCQueryOneWayFlightsStringResponse" />
  </wsdl:message>
  <wsdl:portType name="TC_FlightQueryServiceNewSoap">
    <wsdl:operation name="TCQueryOneWayFlights">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">同程单程机票查询</wsdl:documentation>
      <wsdl:input message="tns:TCQueryOneWayFlightsSoapIn" />
      <wsdl:output message="tns:TCQueryOneWayFlightsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TCQueryOneWayFlightsString">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">同程单程机票查询字符串型</wsdl:documentation>
      <wsdl:input message="tns:TCQueryOneWayFlightsStringSoapIn" />
      <wsdl:output message="tns:TCQueryOneWayFlightsStringSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TC_FlightQueryServiceNewSoap" type="tns:TC_FlightQueryServiceNewSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TCQueryOneWayFlights">
      <soap:operation soapAction="http://tempuri.org/TCQueryOneWayFlights" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TCQueryOneWayFlightsString">
      <soap:operation soapAction="http://tempuri.org/TCQueryOneWayFlightsString" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TC_FlightQueryServiceNewSoap12" type="tns:TC_FlightQueryServiceNewSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TCQueryOneWayFlights">
      <soap12:operation soapAction="http://tempuri.org/TCQueryOneWayFlights" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TCQueryOneWayFlightsString">
      <soap12:operation soapAction="http://tempuri.org/TCQueryOneWayFlightsString" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TC_FlightQueryServiceNew">
    <wsdl:port name="TC_FlightQueryServiceNewSoap" binding="tns:TC_FlightQueryServiceNewSoap">
      <soap:address location="http://cnzhxsrv1.17u.cn/TC_FlightQueryServiceNew.asmx" />
    </wsdl:port>
    <wsdl:port name="TC_FlightQueryServiceNewSoap12" binding="tns:TC_FlightQueryServiceNewSoap12">
      <soap12:address location="http://cnzhxsrv1.17u.cn/TC_FlightQueryServiceNew.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>